.conteudoArea
{
    width: 80%;
    height: auto;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 5%;
}

.conteudoArea .boxButton
{
    width: 100%;
    height: auto;
    cursor: pointer;
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
}

a
{
   margin: 10px;
}

.conteudoArea .boxConteudo
{
    width: 100%;
    height: auto;
}

.boxConteudo details
{
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    height: auto;
}

details .subAreaDetail
{
    font-size: 16px;
    width: 100%;
    color: #27548A;
    display: flex;
    justify-content: end;
    height: auto;
}

.boxConteudo summary
{
    font-weight: bold;
    cursor: pointer;
    list-style: none;
    font-size: 18px;
    text-transform: uppercase;
    height: auto;
}

.boxConteudo summary:hover
{
    color: #3F7D58;
}

